
<img src='<%= book.get("thumbnail_small") %>'>
<h5><%= book.escape("title") %></h5>
<%= book.escape("author") %>


<% if (mode === "own") { %>
  <button type="button" class="close remove-owned-book">&times;</button>
  <% if (book.escape("available") === "F") { %>
    This title is on loan
  <% } %>    
<% } %>

<% if (mode === "search") { %>
  <% if (ownBookCatalog.indexOf(book.escape("google_id")) > -1) { %>
    <!-- // TODO: Link to shelf and scroll to book -->
    Already Owned
  <% } else { %>
    <button type="button"
        class="add-book-to-shelf close btn btn-xs">
          <span class="glyphicon glyphicon-plus"></span>
    </button>
  <% } %>
<% } %>

<% if (mode === "friend") { %>
  <button type="button" class="close request-book">R</button>
<% } %>

