<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">

<%= auth_token_helper %>

  <label for="user_email">Username</label>
  <input
     id="user_email"
     name="user[email]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="Log in">
</form>

<div>
  Not a registered user? <%= link_to "Sign Up", new_user_url %>
</div>