
<% if (shelves.models.length > 0) { %>
  <ul class="nav nav-pills nav-stacked">
    <% shelves.each( function (shelf) { %>
      <li class="a-bookshelf-name" data-id="<%= shelf.escape("id") %>"><a href="#"><%= shelf.escape("name") %></a></li>
    <% }); %>
  </ul>
<% } %>

<% if (showAddShelf) { %>
  <form id="new-bookshelf-form">
    <div class="input-group-sm">
      <input
        type="text"
        style="display:none"
        name="bookshelf[name]"
        id="new-bookshelf"
        class="form-control"
        placeholder="New bookshelf name..."
      >
    </div>
  </form>
  <button class="btn btn-success btn-xs add-bookshelf">Shelf &nbsp;<span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-plus"></span></button>
<% } %>

