/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-family-base: Alegreya, "Times New Roman", Times, serif !default;

@import "bootstrap";

a.navbar-brand {
    font-family: $font-family-title;
}

div.new-session-background-image {
    background-size: cover;
    min-height: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-repeat: no-repeat; 
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
}

div.main-logo-area {
    position: relative;
    z-index: 50;
    opacity: 80%;
    color: #fff;
    top: 100px;
    background: none;
    margin: 0 auto 0 auto;
    display: table;
}

div.main-logo-area h1 {
    font-family: $font-family-title;
    font-size: 64px;
    text-align: center;
    text-shadow: 0 0 24px rgba(0,0,0,0.9);
    display: block;
}

div.main-logo-area h3 {
    font-family: 'Rokkitt', serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
    width: 300px;
    margin: 0 auto 15px auto;
    display: block;
}

div.new-session-user-management {
    background-color: #fafaef;
}

div.new-session-column {
    padding: 0 15px 15px 15px;
}

div.session-about-row {
    background-color: #eef1f9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.new-session-main-container > .row {
    margin: 0;
}

div.session-col {
    margin-right: 20px;
}

div.session-col-bottom {
    align: bottom;
    padding-top: 100px;
}
div.new-user-signup {
    padding-top: 10px;
}

div.session-about-box {
    border: 1px;
    border-color: #f2d7ec;
    border-style: solid;
    padding: 30px 0;
    border: 0 30px;
    background-color: white;
    font-color: gray;
    font-size: 10pt;
    margin: 0 0 20px 0;
}

h4.session-new-headers {
    font-style: bold;
    color: #201339;
}

div.about-icon {
    display: inline;
    height: 100%;
    float: left;
}

div.about-text {
    display: inline;
    float: left;
    width: 75%;
}

.session-border-right { position: relative; }
.session-border-right:after {
    position: absolute;
    width: 0px;
    border-left: 1px solid #aaa;
    height: 80%;
    top: 10%;
    right: 0px;
    content: "";
}

.session-border-left { position: relative; }
.session-border-left:after {
    position: absolute;
    width: 0px;
    border-left: 1px solid #aaa;
    height: 80%;
    top: 10%;
    left: 0px;
    content: "";
}

ul.nav li.user-page {
    font-size: 14pt;
}

div.main-search-column {
    padding-top: 20px;
}

span.twitter-typeahead {
    width: 85%;
}

input.tt-input {
    width: 100%;
    margin-bottom: 5px;
}

span.tt-dropdown-menu {
    width: 75%;
    padding-left: 3px;
    background-color: white;
    opacity: 0.85;
    border-radius: 5px;
    border-style: solid;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 1px;
    border-color: #a6d0e1;
}

div.tt-suggestion > p:hover {
    background-color: whitesmoke;
}

div.tt-cursor {
    background-color: #b4e7c6;
}

div.book-show-thumbnail-small {
    float:left;
}

div.book-item {
    margin: 20px 0;
}

button.book-action {
    visibility: hidden;
}

div.book-item:hover .book-action, div.book-item.hover .book-action {
    visibility: visible;
}

div.book-header-info {
    color: #42b4c0;
    font-style: italic;
}

button.add-bookshelf {
    margin-left: 25px;
    margin-top: 15px;
}