

<div class="row">
  <div class="col-sm-2 sidebar">
    <h5>Select a bookshelf to add to:</h5>
    <div id="bookshelf-list">
    </div>
  </div> <!-- sidebar -->

  <div class="col-sm-8 col-sm-offset-1 main-search-column">

    <div id="bloodhound-search-area">
      <input class="typeahead" type="text" placeholder="Title / Author / Subject" id="main-search-box">
    </div>

    <div id="main-search-results">

    </div>

  </div> <!-- main column area -->
</div> <!-- row -->

<!-- Modal -->
<div class="modal fade" id="book-request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="book-request-modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

