
<div class="row">

  <div class="col-sm-2 sidebar">
    <h4><%= shelfIndexTitle %></h4>
    <div id="bookshelf-list">
    </div>

  </div> <!-- sidebar -->

  <div class="col-sm-8 col-sm-offset-1 main session-border-left">
    <div id="shelf-show">
    </div>
  </div> <!-- main column area -->
</div> <!-- row -->

<!-- Modal -->
<div class="modal fade" id="book-request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="book-request-modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

