
<div class="row">

  <div class="col-sm-2 sidebar">
    <h4><%= shelfIndexTitle %></h4>
    <div id="bookshelf-list">
    </div>

  </div> <!-- sidebar -->

  <div class="col-sm-8 col-sm-offset-1 main">


    <div id="shelf-show">
    </div>

  </div> <!-- main column area -->
</div> <!-- row -->

<!-- Modal -->
<div class="modal fade" id="book-request-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        Borrow
        <div id="modal-book-header"></div>
      </div>
      <div class="modal-body">
        form for rental
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

